section.about 
  .container 
    +block-box("What we do","Sorry about us","Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores praesentium expedita fuga dolor a, earum aspernatur inventore sapiente cum, laborum deleniti distinctio consectetur debitis ipsum! Quo nam tempora quia necessitatibus!")
    .about__list 
      +about-item("./images/img-about1.png","Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores praesentium expedita fuga dolor a, earum aspernatur inventore sapiente cum, laborum deleniti distinctio consectetur debitis ipsum! Quo nam tempora quia necessitatibus!")
      +about-item("./images/img-about2.png","What we do Sorry about us")
      +about-item("./images/img-about3.png","Super team")
      