footer.footer
  .container 
    .footer__top 
      .footer__col 
        a(href="index.html").footer___heading.footer__heading--logo MoGo  
        p.footer__desc.text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem, dolorum.
        span.footer-follower 
          span.footer-follower__count 15k&nbsp;
          span follower
        .footer-social 
          span Follow us: 
          .footer-social__list 
            a.footer-social__item(href="#")
              i.fab.fa-facebook
            a.footer-social__item(href="#")
              i.fab.fa-twitter
            a.footer-social__item(href="#")
              i.fab.fa-instagram
            a.footer-social__item(href="#")
              i.fab.fa-pinterest
            a.footer-social__item(href="#")
              i.fab.fa-youtube
        form.footer-form(action="javascript:void(0)")
          input.footer-form__input(type="email" placeholder="Your email")
          button.footer-form__submit Subscribe
      .footer__col 
        h3.footer__heading Blogs 
        a(href="#").footer-blog 
          img.footer-blog__img(src="https://images.unsplash.com/photo-1530893609608-32a9af3aa95c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=764&q=80")
          .footer-blog__info 
            h4.footer-blog__title Lorem ipsum dolor sit amet consectetur adipisicing elit.
            span.footer-blog-date.text.text--light Jun 9, 2016
        a(href="#").footer-blog 
          img.footer-blog__img(src="https://images.unsplash.com/photo-1530893609608-32a9af3aa95c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=764&q=80")
          .footer-blog__info 
            h4.footer-blog__title Lorem ipsum dolor sit amet consectetur adipisicing elit.
            span.footer-blog-date.text.text--light Jun 9, 2016
        a(href="#").footer-blog 
          img.footer-blog__img(src="https://images.unsplash.com/photo-1530893609608-32a9af3aa95c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=764&q=80")
          .footer-blog__info 
            h4.footer-blog__title Lorem ipsum dolor sit amet consectetur adipisicing elit.
            span.footer-blog-date.text.text--light Jun 9, 2016
      .footer__col 
        h3.footer__heading Instagram 
        .footer__images 
         .footer__img
            img(src="https://images.unsplash.com/photo-1530893609608-32a9af3aa95c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=764&q=80", alt="")
         .footer__img
            img(src="https://images.unsplash.com/photo-1530893609608-32a9af3aa95c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=764&q=80", alt="")
         .footer__img
            img(src="https://images.unsplash.com/photo-1530893609608-32a9af3aa95c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=764&q=80", alt="")
         .footer__img
            img(src="https://images.unsplash.com/photo-1530893609608-32a9af3aa95c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=764&q=80", alt="")
         .footer__img
            img(src="https://images.unsplash.com/photo-1530893609608-32a9af3aa95c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=764&q=80", alt="")
         .footer__img
            img(src="https://images.unsplash.com/photo-1530893609608-32a9af3aa95c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=764&q=80", alt="")
         .footer__img
            img(src="https://images.unsplash.com/photo-1530893609608-32a9af3aa95c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=764&q=80", alt="")
         .footer__img
            img(src="https://images.unsplash.com/photo-1530893609608-32a9af3aa95c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=764&q=80", alt="")
         .footer__img
            img(src="https://images.unsplash.com/photo-1530893609608-32a9af3aa95c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=764&q=80", alt="")
        a(href="#").footer__seemore.text.text--light View more photos
    .footer__bottom &copy; 2016 MoGo free PSD template by
      span &nbsp;Admin