section.people 
  .container 
    +block-box("Happy clients","What people say")
    ul.people__list 
      +people-item("./images/img-people1.png")
      +people-item("./images/img-people2.png")
      +people-item("./images/img-people3.png")
      +people-item("./images/img-people4.png")