section.quote.quote--author
  .container 
    .quote__container 
      +quote-item(false,"https://images.unsplash.com/photo-1558898479-33c0057a5d12?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGF2YXRhcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60")
      +quote-item(false,"https://media.istockphoto.com/photos/digital-avatar-artificial-intelligence-picture-id1150040101?b=1&k=20&m=1150040101&s=170667a&w=0&h=qUQi7JXPLaWt135cJtLeLJQAD3zdfQoDJnqi1W1mpXM=")
      +quote-item(false,"https://images.unsplash.com/photo-1608889825205-eebdb9fc5806?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGF2YXRhcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60")
