section.service
  .container 
    +block-box("We work with","Amazing services","Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor dolores, alias eveniet id fugit minus eum praesentium. Velit sint quas repellat maiores dolores? Commodi, obcaecati sint nemo recusandae incidunt itaque!")
    .service-content
      .service-list 
        +service-item("./images/img-service-icon1.png","Photography","Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio consectetur libero aperiam explicabo voluptatibus non, quae officia debitis dolorum veniam architecto cum autem omnis? Quis molestias facere reprehenderit consectetur non?")
        +service-item("./images/img-service-icon2.png","Web design","Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio consectetur libero aperiam explicabo voluptatibus non, quae officia debitis dolorum veniam architecto cum autem omnis? Quis molestias facere reprehenderit consectetur non?")
        +service-item("./images/img-service-icon3.png","Photography","Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio consectetur libero aperiam explicabo voluptatibus non, quae officia debitis dolorum veniam architecto cum autem omnis? Quis molestias facere reprehenderit consectetur non?")
      .service-list 
        +service-item("./images/img-service-icon4.png","Seo","Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio consectetur libero aperiam explicabo voluptatibus non, quae officia debitis dolorum veniam architecto cum autem omnis? Quis molestias facere reprehenderit consectetur non?")
        +service-item("./images/img-service-icon5.png","HTML/CSS","Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio consectetur libero aperiam explicabo voluptatibus non, quae officia debitis dolorum veniam architecto cum autem omnis? Quis molestias facere reprehenderit consectetur non?")
        +service-item("./images/img-service-icon6.png","Digital","Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio consectetur libero aperiam explicabo voluptatibus non, quae officia debitis dolorum veniam architecto cum autem omnis? Quis molestias facere reprehenderit consectetur non?")
