section.story 
  .container 
    +block-box("Our stories","Latest blog")
    ul.story__list 
      +story-item("../../images/img-blog1.png","15","Jan","Lorem ipsum dolor sit amet.","Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi incidunt quos labore eum deserunt, nobis cum possimus voluptatibus saepe explicabo praesentium maiores nam suscipit magni nulla sint laboriosam eveniet dolores!","542","17") 
      +story-item("../../images/img-blog2.png","15","Jan","Lorem ipsum dolor sit amet.","Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi incidunt quos labore eum deserunt, nobis cum possimus voluptatibus saepe explicabo praesentium maiores nam suscipit magni nulla sint laboriosam eveniet dolores!","542","17") 
      +story-item("../../images/img-blog3.png","15","Jan","Lorem ipsum dolor sit amet.","Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi incidunt quos labore eum deserunt, nobis cum possimus voluptatibus saepe explicabo praesentium maiores nam suscipit magni nulla sint laboriosam eveniet dolores!","542","17") 
section.map 
  .container 
    .map__content 
      img.map__icon(src='./images/img-map-icon.png')
      h2.map__heading Open map