section.team 
  .container 
    +block-box("Who we are","Meet our team","Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum quia labore odit fugiat corporis sint quibusdam vero quae, accusamus officia laborum magni distinctio voluptas ducimus! Cumque dicta assumenda cupiditate reiciendis?")
    .team__list-wrap
      .team__list 
        +team-item("./images/img-team1.png","Christopher Cambell","Branding/UX team")
          +team-social("https://www.facebook.com/cuongvu12a")
        +team-item("./images/img-team2.png","Christopher Cambell","Branding/UX team")
        +team-item("./images/img-team3.png","Christopher Cambell","Branding/UX team")
      