section.work
  .container 
    +block-box("What we do","Some of our work", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptates tempora voluptatibus laboriosam repudiandae ab quam, earum beatae omnis magnam error? In, itaque? Laboriosam blanditiis velit vero sapiente quasi magnam?")
  .work__grid 
    +work-item("./images/img-work1.png")
    +work-item("./images/img-work2.png")
    +work-item("./images/img-work3.png")
    +work-item("./images/img-work4.png")
    +work-item("./images/img-work5.png")
    +work-item("./images/img-work6.png")
    +work-item("./images/img-work7.png")
  //- .work__list 
  //-   .work__column 
  //-     +work-item("./images/img-work1.png")
  //-     +work-item("./images/img-work2.png")
  //-   .work__column 
  //-     +work-item("./images/img-work3.png")
  //-     +work-item("./images/img-work4.png")
  //-   .work__column 
  //-     +work-item("./images/img-work5.png")(class = "work__item--full")
  //-   .work__column 
  //-     +work-item("./images/img-work6.png")
  //-     +work-item("./images/img-work7.png")