.service {
  padding: 11rem 0 12rem;
  &-list {
    @include flex-box(flex-start, space-between, row, wrap);
    margin-top: 6.5rem;
  }
  &-list:first-child {
    margin-bottom: 5rem;
    padding-bottom: 5rem;
    border-bottom: 1px solid $gray-dark-color;
  }
  &-item {
    @include flex-box(flex-start);
    width: calc(33.33% - 2.7rem);
  }
  &-item__icon {
    margin: 0 3rem;
    width: 3.5rem;
  }
  &-item__info {
    flex: 1;
  }
  &-item__title {
    @include text-clamp(2);
    margin-bottom: 1rem;
    height: 4rem;
    line-height: 1.4;
    color: $title-color;
    text-transform: uppercase;
    font-weight: 500;
  }
  &-item__desc {
    @include text-clamp(3);
    color: $text-color;
    line-height: 1.6;
    font-family: $secondary-font;
    font-weight: 300;
  }
  @include max-width(1023px) {
    padding: 5rem 0; 
    &-list {
      display: block;
    }
    &-item {
      width: 100%;
    }
    &-item:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
}
